/* max-width on wrapper to prevent sprawl on very wide monitors
   universal selector used to normalize box-sizing for all browsers
   https://tympanus.net/codrops/css_reference/box-sizing/
   one media query, at bottom 
   */

* {
  box-sizing: border-box;
}

body {
  font-family: 'Calibri', 'Verdana', sans-serif;
  color: #333;
  background: #fff9ef;
}

#wrapper {
  margin: 2em auto;
  max-width: 700px;
  border: 2px solid #ede5c4;
  padding: 2em;
}


/* heading and text styles */

h1, h2 {
  font-family: 'Cambria', 'Georgia', serif;
  font-weight: normal;
  line-height: normal;
}

h1 {
  font-size: 3em;
  text-align: center;
}

h2 {
  font-size: 1.5em;
  padding-top: 0.8em;
}

p {
  line-height: 1.4em;
}


/* links */

a {
  color: #237b93;
  text-decoration: underline;
}

a:hover {
  color: #d332cb;
  text-decoration: none;
}


/* media query for small screens */

@media (max-width: 700px) {
  #wrapper {
    border: 0;
    margin: 0;
  }
}
