html {
    font-size: 100%;
}
body {
  font-family: 'Calibri', 'Verdana', sans-serif;
  color: #333;
  background: #fff9ef;
}

/* heading and text styles */

/* https://developer.mozilla.org/en-US/docs/Web/CSS/font-weight
   https://developer.mozilla.org/en-US/docs/Web/CSS/line-height
*/

h1, h2 {
  font-family: 'Cambria', 'Georgia', serif;
  font-weight: normal;
  line-height: normal;
}

h1 {
  font-size: 3rem;
  text-align: center;
}

h2 {
  font-size: 1.5rem;
  padding-top: 0.8rem;
}

p {
  line-height: 1.4rem;
}


/* new styles for the box-sizing examples */

div {
  max-width: 500px;
  margin: 2rem auto;
}

.with-bs, .without-bs {
  border: 2rem solid #333;
  padding: 1rem 2rem;
  background: #daedbb;
}

/* normalize box-sizing for all browsers: fixes width issues */
.with-bs {
  box-sizing: border-box;
}

.centered {
  text-align: center;
  background: #fcd7a4;
  padding: 2rem 0 3rem 0;
  margin: 0;
}


/* links */

a {
  color: #237b93;
  text-decoration: underline;
}

a:hover {
  color: #d332cb;
  text-decoration: none;
}


/* media queries */

@media (max-width: 760px) {
  div {
    width: 90%;
    margin: 1rem auto;
  }
  h1 {
    margin: 0.5rem;
  }
}
