/* fix all width problems with box-sizing */
* {
  box-sizing: border-box;
}

body {
  font-family: 'Calibri', 'Verdana', sans-serif;
  color: #333;
  background: #fff9ef;
}

#wrapper {
	max-width: 1000px;
	margin: 2em auto;
}

/* four main areas of the page:
		header
		article
		aside
		footer
   each has a different background-color
   these could be DIVs instead, if you prefer DIVs
   */

header {
  background: #cfc;
	padding: 1em 0;
	text-align: center;
}

footer {
  background: #ffc;
  padding: 1em 2em;
	border: 1px solid #999;
	text-align: center;
  /* clear your floats - to prevent weird layout issues */
  clear: both;
}

article {
  background: #cff;
  width: 60%;
  float: left;
  padding: 2em;
}

aside {
  background: #fcf;
  width: 40%;
  float: right;
  padding: 1em 2em;
}


/* heading and text styles */

h1, h2 {
  font-family: 'Cambria', 'Georgia', serif;
  font-size: 3em;
  font-weight: normal;
  line-height: normal;
}

h2 {
  font-size: 1.5em;
  padding-top: 0;
}

p {
  line-height: 1.4em;
}


/* links */

a {
  color: #237b93;
  text-decoration: underline;
}

a:hover {
  color: #d332cb;
  text-decoration: none;
}


/* definition list styles for sidebar */

dl {
  padding: 0;
}

dd {
  font-size: 0.9em;
  line-height: 1.4em;
}

dt {
  font-size: 0.95em;
  font-weight: bold;
  padding-top: 1em;
  line-height: 1.5em;
}


/* media queries */

@media (max-width: 700px) {
  #wrapper {
    width: 100%;
    margin: 0;
  }
	article, aside {
		width: 100%;
		float: none;
	}
}
