/* universal selector used to normalize box-sizing for all browsers */
html {
    font-size: 100%;
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

body {
  font-family: 'Calibri', 'Verdana', sans-serif;
  color: #333;
  background: #fff9ef;
}


/* grid container */

#wrapper {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-auto-rows: minmax(100px, auto);
  max-width: 1000px;
  margin: 2rem auto;
}


/* four main areas of the page:
		header - spans 2 columns
		article - 1 column, left
		aside - 1 column, right
		footer - spans 2 columns
   each has a different background-color
   -- these could be DIVs instead --
   */

header {
  grid-column: span 2;
  grid-row: 1;
  background: #cfc;
  padding: 1rem 0;
  text-align: center;
}

footer {
  grid-column: span 2;
  grid-row: 3;
  background: #f7ea76;
  padding: 1rem 2rem;
  text-align: center;
}

article {
  grid-column: 1;
  grid-row: 2;
  background: #cff;
  padding: 1rem 2rem;
}

aside {
  grid-column: 2;
  grid-row: 2;
  background: #fcf;
  padding: 1rem 2rem;
}


/* heading and text styles */

h1, h2 {
  font-family: 'Cambria', 'Georgia', serif;
  font-size: 3rem;
  font-weight: normal;
  line-height: normal;
}

h2 {
  font-size: 1.5rem;
  padding-top: 0;
}

p {
  line-height: 1.4rem;
}


/* links */

a {
  color: #237b93;
  text-decoration: underline;
}

a:hover {
  color: #d332cb;
  text-decoration: none;
}


/* definition list styles for sidebar */

dl {
  padding: 0;
}

dd {
  font-size: .9rem;
  line-height: 1.4rem;
}

dt {
  font-size: .95rem;
  font-weight: bold;
  padding-top: 1rem;
  line-height: 1.5rem;
}


/* media queries */

@media (max-width: 1000px) {
    #wrapper {
        margin: 0;
    }
}

@media (max-width: 760px) {
  #wrapper {
    /* remove grid for small mobile screens */
    display: block;
    width: 100%;
    margin: 0;
  }
  article, aside {
    width: 100%;
  }
}
