/* fix all width problems with box-sizing */

* {
  box-sizing: border-box;
}

body {
  font-family: 'Calibri', 'Verdana', sans-serif;
  color: #333;
  background: #fff9ef;
}


/* grid container */

#wrapper {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-auto-rows: minmax(100px, auto);
  max-width: 1000px;
  margin: 2em auto;
}


/* four main areas of the page:
		header - spans 2 columns
		article - 1 column, left
		aside - 1 column, right
		footer - spans 2 columns
   each has a different background-color
   -- these could be DIVs instead -- 
   */

header {
  grid-column: span 2;
  grid-row: 1;
  background: #cfc;
  padding: 1em 0;
  text-align: center;
}

footer {
  grid-column: span 2;
  grid-row: 3;
  background: #ffc;
  padding: 1em 2em;
  border: 1px solid #999;
  text-align: center;
}

article {
  grid-column: 1;
  grid-row: 2;
  background: #cff;
  padding: 2em;
}

aside {
  grid-column: 2;
  grid-row: 2;
  background: #fcf;
  padding: 1em 2em;
}


/* heading and text styles */

h1, h2 {
  font-family: 'Cambria', 'Georgia', serif;
  font-size: 3em;
  font-weight: normal;
  line-height: normal;
}

h2 {
  font-size: 1.5em;
  padding-top: 0;
}

p {
  line-height: 1.4em;
}


/* links */

a {
  color: #237b93;
  text-decoration: underline;
}

a:hover {
  color: #d332cb;
  text-decoration: none;
}


/* definition list styles for sidebar */

dl {
  padding: 0;
}

dd {
  font-size: .9em;
  line-height: 1.4em;
}

dt {
  font-size: .95em;
  font-weight: bold;
  padding-top: 1em;
  line-height: 1.5em;
}


/* media queries */

@media (max-width: 700px) {
  #wrapper {
    /* remove grid for small mobile screens */
    display: block;
    width: 100%;
    margin: 0;
  }
  article, aside {
    width: 100%;
  }
}
