/* four main areas of the page 
   using display: inline-block to create columns 
   NOTE - there is a very important kludge that must be used in 
   the HTML with the inline-block method. You'll see it at line 24 
   in the file inline-block.html  
   */

#header {
	background: #cfc;
	}

#footer {
	background: #ffc;
	padding: 20px 0;
	}

.left {
	background: #cff;
	width: 60%;
	display: inline-block;   /* inline-block */
	vertical-align: top;     /* must go with inline-block */
	padding-top: 20px;
	/* try un-commenting the line below - see what happens */
	/* padding-bottom: 300px;  */
	}

.right {
	background: #fcf;
	width: 40%;
	display: inline-block;   /* inline-block */
	vertical-align: top;     /* must go with inline-block */
	padding-bottom: 30px;
	}

/* text styles unique to this page -
   overriding previous stylesheet
   */

h1 {
	padding-left: 20px;
	}

h2 {
	font-family: Cambria, Georgia, serif;
	font-size: 150%;
	font-weight: normal;
	padding: 20px 0 10px 20px;
	}

p {
	background: transparent;
	}

/* definition list styles for sidebar */

dl {
	padding: 0 20px;
	}
dd {
	font-size: .9em;
	line-height: 1.4em;
	}
dt {
	font-size: .95em;
	font-weight: bold;
	padding-top: 10px;
	line-height: 1.5em;
	}

