/* universal selector used to normalize box-sizing for all browsers */
html {
    font-size: 100%;
    box-sizing: border-box;
}
* {
    box-sizing: inherit;
}

body {
  font-family: 'Calibri', 'Verdana', sans-serif;
  color: #333;
  background: #fff9ef;
}


/* heading and text styles */

h1, h2 {
  font-family: 'Cambria', 'Georgia', serif;
  font-weight: normal;
  line-height: normal;
}

h1 {
  font-size: 3rem;
  text-align: center;
}

h2 {
  font-size: 1.5rem;
}

p {
  line-height: 1.4rem;
}

.centered {
  text-align: center;
  background: #fcd7a4;
  padding: 2rem 0 3rem 0;
  margin: 0;
}

.explan {
  padding: 0 2rem;
  max-width: 50rem;
}

footer {
  padding: 2rem 0;
}

code {
    font-family: monospace;
    font-size: 1.3rem;
    background: #fcd7a4;
}

/* links */

a {
  color: #237b93;
  text-decoration: underline;
}

a:hover {
  color: #d332cb;
  text-decoration: none;
}


/* style all the DIVs */

div {
  background: #fcf;
  border: 1px solid #999;
  width: 25%;
  padding: 1rem 2rem;
  margin-bottom: 1rem;
}

.inliner {
  display: inline-block;
  /* must have with inline-block */
  vertical-align: top;
}

.floater {
  float: left;
}

.clearfix {
  clear: both;
}


/* media query for small screens */

@media (max-width: 760px) {
  div {
    width: 33%;
    padding: .7rem 1rem;
  }
}
