/* universal selector used to normalize box-sizing for all browsers */

* {
  box-sizing: border-box;
}

body {
  font-family: 'Calibri', 'Verdana', sans-serif;
  color: #333;
  background: #fff9ef;
}


/* heading and text styles */

h1, h2 {
  font-family: 'Cambria', 'Georgia', serif;
  font-weight: normal;
  line-height: normal;
}

h1 {
  font-size: 3em;
  text-align: center;
}

h2 {
  font-size: 1.5em;
  padding-top: 0.8em;
}

p {
  line-height: 1.4em;
}

.centered {
  text-align: center;
}

.explan {
  padding: 0 2em;
}

footer {
  padding: 2em 0;
}


/* links */

a {
  color: #237b93;
  text-decoration: underline;
}

a:hover {
  color: #d332cb;
  text-decoration: none;
}


/* style all the DIVs */

div {
  background: #fcf;
  border: 1px solid #999;
  width: 25%;
  padding: 1em 2em;
  margin-bottom: 1em;
}

.inliner {
  display: inline-block;
  /* must have with inline-block */
  vertical-align: top;
}

.floater {
  float: left;
}

.clearfix {
  clear: both;
}


/* media query for small screens */

@media (max-width: 700px) {
  div {
    width: 50%;
  }
}
