/* stylesheet without box-sizing
   appearance will vary in different browsers
   http://www.paulirish.com/2012/box-sizing-border-box-ftw/ 
   */

body {
	margin: 0;
	padding: 0;
	font-family: Verdana, Arial, sans-serif;
	font-size: 100%;
	color: #000;
	background: #fff;
	}

#wrapper {
	margin: 20px auto;
	width: 80%;
	background: #ccc;
	}

h1 {
	font-family: Cambria, Georgia, serif;
	font-size: 200%;
	padding: 20px 0;
	}

p {
	margin-bottom: 20px;
	padding: 0 20px;
	line-height: 1.4em;
	background: #fcf;
	}

/* links */

a:focus {
	outline: 2px solid #069;
	}
a:link, a: active, a:visited {
	color: #00c;
	text-decoration: underline;
	}
a:hover {
	color: #00f;
	text-decoration: none;
	}

