/* universal selector used to normalize box-sizing for all browsers */
html {
    font-size: 100%;
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

body {
    font-family: 'Calibri', 'Verdana', sans-serif;
    color: #333;
    background: #fff9ef;
    margin: 2rem auto;
    padding: 2rem;
    max-width: 700px;
}

img {
    display: block;
    margin: 2rem auto;
    max-width: 100%;
}


/* heading and text styles */

/* https://developer.mozilla.org/en-US/docs/Web/CSS/font-weight
   https://developer.mozilla.org/en-US/docs/Web/CSS/line-height
*/

h1 {
    font-family: 'Cambria', 'Georgia', serif;
    font-size: 3rem;
    font-weight: normal;
    line-height: normal;
    margin: 0;
}

p {
    line-height: 1.5rem;
}

.centered {
    text-align: center;
    padding-top: 2rem;
}

/* links */

a {
    color: #237b93;
    text-decoration: underline;
}

a:hover {
    color: #d332cb;
    text-decoration: none;
}
