body {
	font-family: Verdana, Arial, sans-serif;
	/* always set a base font and font-size */
	font-size: 100%;
	color: #000;
	background: #fff;
	}

#wrapper {
	margin: 20px auto;
	width: 80%;
	background: #999;
	}

/* links */

a:focus {
	outline: 2px solid #069;
	}
a:link, a: active, a:visited {
	color: #00c;
	text-decoration: underline;
	}
a:hover {
	color: #00f;
	text-decoration: none;
	}

