* { 
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	}

body {
 	background: url(http://macloo.com/images/discoballbgtile.jpg) #fff;
	color: #000;
 	font-family: monospace;
	font-size: 150%;
	line-height: 1.5em;
	}

p {
	margin-top: 16px;
	}


/* ---------- Divs --------- */

#container {
	background: #fff;
	width: 900px;
	margin: 30px auto;
	padding: 40px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	}

@media (max-width: 1000px) {
	#container { width: 90%; padding: 40px 20px; }
	}

/* --------- Links --------- */

a:link, a:visited, a:active { 
	color: #2a6dc8; /* deep blue */
	text-decoration: underline; 
	}  

a:hover { 
	color: #8762c3; /* medium lavender */
	text-decoration: none; 
	} 

/* --------- Effects --------- */

.highlight {
	background: #97fdfe; /* swimming pool blue */
	}
